@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');

@mixin box-shadow($blur, $position-vertical: 8px) {
    -webkit-box-shadow: inset 0px $position-vertical 0px 0px rgba(0,0,0,$blur);
    -moz-box-shadow: inset 0px $position-vertical 0px 0px rgba(0,0,0,$blur);
    box-shadow: inset 0px $position-vertical 0px 0px rgba(0,0,0,$blur);
}

@mixin layoutDefault(){
    border: 2px solid black;
    border-radius: 20px;
}

// variables
$background-color: #fef6e4;
$board-color: #f3d2c1;
$text-color: #001858;
$player-color1: #f582ae;
$player-color2: #8bd3dd;

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font : {
        family: 'Poppins', sans-serif;
        size: 18px;
    }
}

body {
    background-color: $background-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        background-color: #d6d0c0;
        color: $text-color;
        padding: 10px;
        border: none;
        border-radius: 30px;
        width: 100px;

        &:hover {
            cursor: pointer;
            background-color: #9b968b;
        }
    }
}

header {
    padding: 20px 0;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-around;
        padding: 0 25%;
    }
}

#board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    .board {
        @include box-shadow(1, -9px);
        @include layoutDefault();
        background-color: $board-color;
        padding: 15px;
        width: 540px;

        td {text-align: center;}
    }

    .player {
        @include layoutDefault();
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 180px;
        width: 15%;

        .score {
            height: 75%;
            font-size: 50px;
            position: relative;
            top: 25%;
        }
    }
}

.zones {
    display: inline-block;
    vertical-align: middle;
    background-color: $background-color;
    border: 1.5px solid #000;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    @include box-shadow(1);

    &:hover {
        cursor: pointer;
        @include box-shadow(0.7, -4px);
    }
}

footer {
    z-index: 999;
    position: absolute;
    bottom: 10px;

    .current-player {
        @include layoutDefault();
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        width: 200px;
        height: 50px;
        font : {
            size: 24px;
            weight: 600;
        }
    }
}

#menu {
    display: none;
    background-color: rgba(0,0,0,.5);
    z-index: 9999;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .menu {
        z-index: 99999;
        background-color: $board-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50%;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid #000;
        @include box-shadow(1, -6px);

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 60%;

            button {
                background-color: $player-color1;
                width: 200px;
                border: 2px solid #000;
                @include box-shadow(1, -5px);

                &:hover{
                    background-color: #c26689;
                }
            }
        }
    }
}

.icon {
    width: 50px;
    height: 50px;

    display: grid;
    align-items: center;
    justify-items: center;
    
    grid : {
        template-columns: repeat(2, 1fr);
        template-rows: repeat(2, 1fr);
        column-gap: 2px;
        row-gap: 2px;
    }

    &>* {
        border-radius: 100%;
        border: 1.5px solid #000;
        width: 20px;
        height: 20px;
        @include box-shadow(1, -2px)
    }

    .circle1 {
        background-color: $player-color1;
    }

    .circle2 {
        background-color: $player-color2;
    }
}

.player1 {
    background-color: $player-color1;
    @include box-shadow(0.7, -4px);
}

.player2 {
    background-color: $player-color2;
    @include box-shadow(0.7, -4px);
}