@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #001858;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  background-color: #fef6e4;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body button {
  background-color: #d6d0c0;
  color: #001858;
  padding: 10px;
  border: none;
  border-radius: 30px;
  width: 100px;
}
body button:hover {
  cursor: pointer;
  background-color: #9b968b;
}

header {
  padding: 20px 0;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  padding: 0 25%;
}

#board {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#board .board {
  box-shadow: inset 0px -9px 0px 0px rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 20px;
  background-color: #f3d2c1;
  padding: 15px;
  width: 540px;
}
#board .board td {
  text-align: center;
}
#board .player {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
  width: 15%;
}
#board .player .score {
  height: 75%;
  font-size: 50px;
  position: relative;
  top: 25%;
}

.zones {
  display: inline-block;
  vertical-align: middle;
  background-color: #fef6e4;
  border: 1.5px solid #000;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-shadow: inset 0px 8px 0px 0px rgb(0, 0, 0);
}
.zones:hover {
  cursor: pointer;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.7);
}

footer {
  z-index: 999;
  position: absolute;
  bottom: 10px;
}
footer .current-player {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
}

#menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#menu .menu {
  z-index: 99999;
  background-color: #f3d2c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: inset 0px -6px 0px 0px rgb(0, 0, 0);
}
#menu .menu .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
#menu .menu .buttons button {
  background-color: #f582ae;
  width: 200px;
  border: 2px solid #000;
  box-shadow: inset 0px -5px 0px 0px rgb(0, 0, 0);
}
#menu .menu .buttons button:hover {
  background-color: #c26689;
}

.icon {
  width: 50px;
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
.icon > * {
  border-radius: 100%;
  border: 1.5px solid #000;
  width: 20px;
  height: 20px;
  box-shadow: inset 0px -2px 0px 0px rgb(0, 0, 0);
}
.icon .circle1 {
  background-color: #f582ae;
}
.icon .circle2 {
  background-color: #8bd3dd;
}

.player1 {
  background-color: #f582ae;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.7);
}

.player2 {
  background-color: #8bd3dd;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=style.css.map */